* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #b9ff82;
	font-family: 'Roboto', sans-serif;
	font-size: 105%;
}

/* Login.html */

.heading {
	background-color: #2f6800;
	color: #ffffff;
	padding: 1% 3%;
}
div.container {
	margin: auto;
	padding: 1% 3%;
	overflow: auto;
}
div.container h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 2%;
	padding: 0.5% 0%;;
}
section label {
	display: block;
	margin-bottom: 1%;
}
.form-group {
	margin-bottom: 3%;
}
.form-control {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	padding: 6px 8px;
	outline: none;
	border: 1px solid #8e8e8e;
	border-radius: 4px;
}
.form-control:focus {
	border-color: #000000;
}
.dropdown {
	margin-bottom: 1%;
}
.dropdown-menu {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 85%;
	outline: none;
	width: 20%;
	margin-bottom: 20px;
	padding: 6px 8px;
	border: 1px solid #8e8e8e;
	border-radius: 4px;
}
.dropdown-menu:focus {
	border-color: #000000;
}
.button {
	font-family: 'Roboto', sans-serif;
	font-size: 105%;
	background-color: #ffffff;
	color: #000000;
	width: 100px;
	margin-top: 1%;
	padding: 6px 8px;
	border: 1px solid #8e8e8e;
	border-radius: 4px;
	cursor: pointer;
}
.button:hover {
	border-color: #000000;
	font-weight: bold;
}
section {
	background-color: #b1ff72;
	box-sizing: border-box;
	width: 49%;
	padding: 1% 2% 2% 2%;
	border-radius: 4%;
}
section#signup {
	float: left;
}
section#login {
	float: right;
}
div#bday {
	overflow: auto;
}
div#bday input {
	float: left;
	margin-right: 0.5%;
}
div#bday #year {
	width: 11%;
	text-align: center;
}
div#bday #month {
	width: 9%;
	text-align: center;
}
div#bday #day {
	width:8%;
	text-align: center;
}

/* todo_list.php */

section.display_list {
	width: 80%;
	margin: auto;
}
section.display_list h2 {
	width: 70%;
	text-align: left;
	float: left;
	font-size: 130%;
}
#new_button {
	float: right;
	text-decoration: none;
	text-align: center;
	display: block;
	box-sizing: border-box;
	width: 102px;
	margin-top: 0.5%;
}
#logout_button {
	float: right;
	text-decoration: none;
	text-align: center;
	display: block;
	box-sizing: border-box;
	width: 102px;
	margin-top: 0.5%;
}
.todo_table {
	width: 100%;
	border-collapse: collapse;
	vertical-align: middle;
	table-layout: fixed;
	clear: both;
}
table, th, td {
	border: 1px solid #000000;
}
table {
	border-radius: 4%;
}
th {
	padding: 10px 10px;
}
td {
	padding: 10px 10px;
}
.dates {
	width: 18%;
	text-align: center;
}
.tb_button_column {
	padding: 0;
	width: 100px;
}
.message {
	width: 33%;
	word-wrap: break-word;
}
.tb_button {
	font-family: 'Roboto', sans-serif;
	font-size: 105%;
	background-color: #ffffff;
	color: #000000;
	width: 100px;
	padding: 6px 8px;
	border: 1px solid #8e8e8e;
	border-radius: 4px;
	cursor: pointer;
}
.tb_button:hover {
	border-color: #000000;
	font-weight: bold;
}

/* new_todo/edit_todo forms.php */

section.new_edit_form {
	width: 80%;
	margin: auto;
}
section.new_edit_form h2 {
	text-align: left;
}
textarea {
	resize: none;
}
section.new_edit_form .tb_button {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}

/* footer.php */

footer {
	width: 100%;
}
.copyright {
	background-color: #2f6800;
	color: #ffffff;
	padding: 1% 3%;
	text-align: center;
}
#parSpinner {
	width: 100%;
	height: 500px;
}
#spinner {
	width: 100px;
	height: 100px;
	border: 10px solid #000000;
	border-top-color: #cfcfcf;
	border-radius: 50%;
	animation: SP 1s linear infinite;
	margin: auto;
}
@keyframes SP {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}